@import "../../node_modules/bulma/bulma.sass";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

body {
  background-color: #f0efeb;
}

.mainBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}
// Navbar and footer

.navbar, .footer {
  background-color: #a8dadc;
}

.navbar-item {
  background-color: #a8dadc;
  border: none;
}

.navbar-end {
  display: flex;
  align-items: center;
}

.navbar-item {
  background-color: #a8dadc;
  border: none;
}

.navbar-menu.is-active {
  background-color: #a8dadc;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer {
  padding: 1rem
}

.footerLinks, .storeAddress, .socialMedia {
  display: none;
}

// Header

.headerContainer {
  background-color: pink;
  padding: 0.5em;
  font-size: 2em;
  text-align: center;
}

//  Forms

.formContainer {
  display: flex;
  justify-content: center;
}

.preFormText {
  margin: 1em;
  text-align: center;
}

.label {
  padding-top: 0.5em;
}

.input {
  padding: 0.5em;
}

.submitButton {
  display: flex;
  justify-content: center;
  margin: 0.5em;
}

// FAQs

.faqs {
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
	padding: 15px;
}

.faqs .faq {
	margin: 15px;
	padding: 15px;
	background-color: #FFF;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.faqs .faq .faq-question {
	position: relative;
	font-size: 20px;
	padding-right: 80px;
	transition: all 0.4s ease;
}

.faqs .faq .faq-question::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: all 0.4s ease-out;
}

.faqs .faq .faq-answer {
	opacity: 0;
	max-height: 0;
	overflow-y: hidden;
	transition: all 0.4s ease-out;
}

.faqs .faq.open .faq-question {
	margin-bottom: 15px;
}

.faqs .faq.open .faq-answer {
	max-height: 1000px;
	opacity: 1;
}

// Returns

.returnsButtons {
  margin: 0.25em;
}

returnsForm {
  margin: 1em;
}

@media only screen and (min-width: 481px) {

    // footer

    footer {
      display: flex;
      justify-content: space-between;
    }
    
    .footer {
      padding: 1rem 1rem; 
    }

    .footerLinks {
      display: initial;
    }
    
    .storeAddress {
      display: initial;
      text-align: center;
    }
    
    .socialMedia {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

}


// Small screens, laptops
@media screen and (min-width: 768px) {

   //  navbar

   .navGroupingOne, .navGroupingTwo, .navGroupingThree {
    display: flex;
}

}