@import "../../node_modules/bulma/bulma.sass";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

body {
  background-color: #f0efeb;
}

.mainBody {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 80vh;
}

.homeBody {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.hero-body {
  text-align: center;
}

.title {
  padding: 1em;
}

.campaigns {
  display: flex;
  justify-content: space-evenly;
  padding: 2em;
}

.campaignContainer {
  width: 40%;
  background-color: green;
  padding-top: 10em;
  padding-bottom: 10em;
}

.campaign {
  text-align: center;
  color: white;
  height: 20px;
}

// Navbar and footer

.navbar, .footer {
  background-color: #a8dadc;
}

.navbar-item {
  background-color: #a8dadc;
  border: none;
}

.navbar-end {
  display: flex;
  align-items: center;
}

.navbar-item {
  background-color: #a8dadc;
  border: none;
}

.navbar-menu.is-active {
  background-color: #a8dadc;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer {
  padding: 1rem
}

.footerLinks, .storeAddress, .socialMedia {
  display: none;
}

// Header

.headerContainer {
  background-color: pink;
  padding: 0.5em;
  font-size: 2em;
  text-align: center;
}

// Login 

.loginBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

// Product card 

.bm--card-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cardContent {
  display: flex;
  justify-content: center;
  padding: 2em;
  gap: 2em;
}

// Products

.productDisplay {
  margin: 2em;
}

.searchButtonsAndCategory {
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1em;
}

#categoryOptions {
  height: 3em;
}

.productsSearchForm {
  margin-top: 2em;;
  margin-bottom: 1.5em;
}

// Product Spotlight

.productSpotlightContainer {
  display: flex;
  flex-direction: column;
  margin: 4em;
  gap: 2em;
  align-items: center;
}

.productDescription {
  text-align: center;

}

.stockLevels {
  color: red;
  font-weight: bold;
}

.spotlightText {
  padding: 0.5em;
}


//  Forms

.formContainer {
  display: flex;
  justify-content: center;
}

.preFormText {
  margin: 1em;
  text-align: center;
}

.label {
  padding-top: 0.5em;
}

.input {
  padding: 0.5em;
}

.submitButton {
  display: flex;
  justify-content: center;
  margin: 0.5em;
}

// My Account

.accountText {
  font-size: 2em;
  margin: 2em;
}

.accountButtons {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.deleteAccount {
  display: flex;
  flex-direction: column;
  margin: 2em;
  gap: 1em;
}

#updateAccountText {
  margin: 1em;
  text-align: center;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardContent {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mySavedItemsContainer {
  margin: 3em;
}

// FAQs

.faqs {
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
	padding: 15px;
}

.faqs .faq {
	margin: 15px;
	padding: 15px;
	background-color: #FFF;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.faqs .faq .faq-question {
	position: relative;
	font-size: 20px;
	padding-right: 80px;
	transition: all 0.4s ease;
}

.faqs .faq .faq-question::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0px;
	width: 30px;
	height: 30px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: all 0.4s ease-out;
}

.faqs .faq .faq-answer {
	opacity: 0;
	max-height: 0;
	overflow-y: hidden;
	transition: all 0.4s ease-out;
}

.faqs .faq.open .faq-question {
	margin-bottom: 15px;
}

.faqs .faq.open .faq-answer {
	max-height: 1000px;
	opacity: 1;
}

// Returns

.returnButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  margin: 1em;
}

#returnsForm {
  margin: 1em;
}

.ordersCardContainer {
  display: flex;
  flex-direction: row;
}

.orderDetailsContainer {
  margin: 3em;
}

.card-footer {
  margin: 0 auto
}

@media only screen and (min-width: 481px) {

    // footer

    footer {
      display: flex;
      justify-content: space-between;
    }
    
    .footer {
      padding: 1rem 1rem; 
    }

    .footerLinks {
      display: initial;
    }
    
    .storeAddress {
      display: initial;
      text-align: center;
    }
    
    .socialMedia {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    .socialMediaSharing {
      border-style: dotted;
    }

    .wishListToggle {
      margin: 1em;
    }

    // My Account

    .accountButtons {
      flex-direction: row;
    }

    .productSpotlightContainer {
      display: flex;
      flex-direction: row;
      margin: 4em;
      gap: 2em;
    }

}


// Small screens, laptops
@media screen and (min-width: 768px) {

   //  navbar

    .navGroupingOne, .navGroupingTwo, .navGroupingThree {
    display: flex;
}

    // Products

    .returnButtons {
      display: flex;
      flex-direction: row;
    }

}